<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instafoodies"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name="Chat.ImageViewerActivity"> </activity>
<!--        <activity android:name="Chat.PhoneLoginActivity"> </activity>-->
        <activity android:name="Chat.SettingsActivity"> </activity>
        <activity android:name="Chat.FindFriendsActivity"
            android:parentActivityName="Chat.ChatActivity"> </activity>
        <activity android:name="Chat.ChatProfileActivity"> </activity>

        <activity
            android:name="Chat.GroupChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="Home.forwardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="Chat.ChatActivity"> </activity>
        <activity
            android:name="MLKIT.text.SpamTextDetectionActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="MLKIT.image.ImageClassificationActivity"
            android:exported="true" />
        <activity
            android:name="MLKIT.object.ObjectDetectionActivity"
            android:exported="true" />
        <activity
            android:name="MLKIT.image.FaceDetectionActivity"
            android:exported="true" />
        <activity
            android:name="MLKIT.audio.AudioClassificationActivity"
            android:exported="true" /> <!-- the notficision part -->
        <activity
            android:name="Notifications.reminder"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver android:name="Notifications.ReminderBroadcast" /> <!-- the payment part -->
        <activity
            android:name="payment.amount_paypal_page"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="Home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="Login.RegisterActivity" />
        <activity android:name="Likes.LikesActivity" />
        <activity android:name="Profile.ProfileActivity" />
        <activity android:name="Search.SearchActivity" />
        <activity android:name="Share.ShareActivity" />
        <activity android:name="Share.NextActivity" />
        <activity android:name="Profile.AccountSettingsActivity" />
        <activity android:name="Login.LoginActivity" />
    </application>

</manifest>